<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035472921486-09eskk819pnhu1o3np82na4892r5lf9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035472921486-09eskk819pnhu1o3np82na4892r5lf9g</string>
	<key>API_KEY</key>
	<string>AIzaSyDNDmrNp-BayZEzjua5BlLXf2-4knLTTTY</string>
	<key>GCM_SENDER_ID</key>
	<string>1035472921486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arun.Messaging</string>
	<key>PROJECT_ID</key>
	<string>messageapp-de8e0</string>
	<key>STORAGE_BUCKET</key>
	<string>messageapp-de8e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035472921486:ios:efe3e7f7d1a3cb297efadf</string>
</dict>
</plist>